<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="top.earthstudio.xposed.skipZhuLiAd.App"
        android:description="@string/module_description"
        android:label="住理生活广告屏蔽"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="MissingApplicationIcon">
    </application>
</manifest>
